body {
  max-width: 480px; /* largura típica de celular */
  margin: 0 auto;   /* centraliza na tela */
  background-color: var(--wine);
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom: 80px;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: center; /* centraliza o grupo no topo */
  align-items: center;
  padding: 15px 0;
}

/* Contêiner da seta + título */
.titulo-container {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre a seta e o texto */
}

/* Texto "Mensalidade" */
h1 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

/* Botão da seta */
.btn-voltar {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Texto "Mensalidade pendente:" */
.status {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}


.boleto-card {
  position: relative;
  width: 90%;
  max-width: 384px;
  height: 121px; /* 42px + 36px + 43px */
  background-color: #fff; /* ou a cor do seu card */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding-left: 70px;
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.boleto-icon {
  position: absolute;           /* fixa o ícone dentro do card */
  top: 42px;
  left: 2px;
  width: 54px;
  height: 36px;
}

.boleto-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: #572013; /* fundo do quadrado */
  border-radius: 15px;       /* cantos arredondados */
  border: 1px solid #AE621A;
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: white;
}
.card2 {
  display: flex;
  align-items: center;
  width: 380px;
  height: 85px;
  background-color: #491312; /* fundo do quadrado */
  border-radius: 15px;       /* cantos arredondados */
  padding: 15px;
  margin: 16px auto;
  text-align: center;
  color: white;  
}

.card2 img {
  width: 32px;
  height: 34px;
}

.icon-bg {
  width: 65px;
  height: 65px;
  background-color: #660f10; /* cor do círculo, pode mudar */
  border-radius: 50%; /* deixa redondo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-bg img {
  width: 30px; /* tamanho do ícone dentro do círculo */
  height: 30px;
}


.card3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: fixed;   /* ADICIONAR */
    bottom: 0;         /* ADICIONAR */
    left: 0;           /* ADICIONAR */
    width: 100%;       /* ADICIONAR */
    background-color: var(--wine);
    padding: 10px 10px;           /* opcional */
    width: 100%;
}

.card3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


.card3 img {
  width: 35px;   /* largura do ícone */
  height: 38px;  /* altura do ícone */
  margin-bottom: 4px;
  opacity: 0.85;
  transition: opacity 0.3s, transform 0.3s;
}

.iconsText {
    color: #9ba2ae;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}


